server:
  port: 8085

spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: tigateway-admin
  profiles:
    active: dev
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://${db.host}:${db.port}/${db.database}?zeroDateTimeBehavior=convertToNull&useUnicode=yes&characterEncoding=UTF8&useSSL=false
    username: ${db.username}
    password: ${db.password}
    hikari:
      minimum-idle: 5
      maximum-pool-size: 15
      auto-commit: true
      idle-timeout: 30000
      pool-name: DatebookHikariCP
      max-lifetime: 900000
      connection-timeout: 15000
      connection-test-query: SELECT 1
  thymeleaf:
    cache: false
  jackson:
    serialization:
      write_dates_as_timestamps: false
    date-format: yyyy-MM-dd HH:mm:ss
  cloud:
    gateway:
      enabled: true
      discovery:
        locator:
          enabled: true
      app:
        skip: true
      server:
        skip: true
      sentinel:
        enabled: true
      routes:
        - id: middle-service-user-server
          uri: lb://middle-service-user-server
          predicates:
            - Path=/user/**
          filters:
            - StripPrefix=1

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  server:
    base-path: /


mybatis:
  type-aliases-package: ti.gateway.base.storage.db.model
  mapper-locations: classpath*:/mapper/*.xml

